@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    /* background: rgb(196, 79, 33); */
    background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../image/backgroundlogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 130vh;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.header {
    background-color: red;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 60px;
    background: #3b1c08;
}
.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
    font-family: 'Georgia', serif;
    /* animation: bounceIn 1.5s ease-in-out; */
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.logo span {
    color: var(--color-cyan);
}

.content{
    width: 40rem;
   float: inline-start;
   margin-top: 3rem;
   margin-right: 50rem;
    color: #fff;
    position: relative;
}
.content .par{
    /* padding-left: -100px; */
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

    margin-left: 3rem;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 60px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content span{
    color: #ff7200;
    font-size: 60px
}

li {
    list-style: none;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    /* background-color: #006747ff; */
    transition: background-color 0.3s ease, color 0.3s ease;
}

li:hover {
    /* background-color: #006747ff; */
    color: white;
    /* animation: bounceHover 0.5s ease-out; */
}
ul li a:hover{
    color: #ff7200;
}




h1 {
    margin-left: 20px; 
}


ul {
    list-style: none;
    display: flex;
    margin-left: auto; 
    align-items: center;
    margin-right: 20px;
    font-size: 18px;
    margin-top: -20px;
}

li {
    display: inline-block;
    padding-left: 25px;
    margin-top: 25px;
}

a { 
    text-decoration: none;
    color: rgb(247, 243, 243);
}

.form-container  button:hover {
    background-color: rgb(255, 255, 255); /* Hover color */
    color: #ff7200;
}


/* Container styles */
/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 65px;
    border-radius: 10px;
    background: rgb(78, 67, 67);
    height: 520px;
    box-shadow: -3px -3px 7px 3px lightblue, 3px 3px 7px rgba(232, 78, 6, 0.1);
    margin-bottom: 90px;
} */

.image-container {
    width: 50%;
    padding: 20px;
}

.image-container img {
    width: 88%;
    border-radius: 10px;
}

.form-container {
    width: 20%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-right: -1100px;
    background-color: black;
    margin-top: -255px;
  
}

.text {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 35px;
    color: #fffafa;
}

h5 {
    margin-left: 40px;
    color: rgb(236, 101, 18);

    width: 150px;
    border-radius: 10px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 30px;
}

.field {
    height: 65px;
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 40px;
    flex-direction: column;
}

/* .required-asterisk {
    color: red;
    visibility: visible;
  } */

.error-message {
    color: red;
    font-size: 0.85rem;
    margin-top: 5px;         /* space above error text */
    display: block;          /* ensure it behaves like a block element */
    min-height: 18px;
    text-align: center;        /* reserve vertical space even if no error */
}

.field input {
    height: 100%;
    width: 80%;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    background: whitesmoke;
    color: #595959;
    border-radius: 15px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff73;
    margin-left: 20px;
    
}

.field span {
    position: absolute;
    color: #595959;
    line-height: 50px;

}



.field label {
    position: absolute;
    margin-top: -20px;
    transform: translateY(-50%);
    left: 30px;
    pointer-events: none;
    color: #f6f6f6;
    font-size: 18px;
    margin-top: -20px;
    
}

.btn {
    margin: 15px 0;
    width: 70%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    background: rgb(236, 101, 18);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    margin-left: 40px;
    
}
.form-switch a{
    color: rgb(236, 101, 18);
}
.form-switch a:hover {
    color: rgb(253, 253, 253);
}

.btn:hover {
    background-color: #ffffff;
}

.sign-up {
    margin: 10px 0;
    color: #595959;
    font-size: 16px;
    margin-left: 180px;
}

.sign-up a {
    color: #3498db;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}


/* Styling for the checkbox container */
.form-group label[for="showPassword"] {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center checkbox and label vertically */
    margin-top: 10px; /* Space above the checkbox */
    font-size: 14px; /* Font size for checkbox label */
    cursor: pointer; /* Make the label clickable */
    color: #2c3e50; /* Match the color with other form labels */
}

/* Checkbox input styling */
.show-password-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    margin-top: -30px; /* Space above the checkbox */
    margin-right: 50px;
    color: red;
}

.show-password-container label {
    font-size: 14px;
    color: #2c3e50;
    cursor: pointer;
    margin-left: -10px;
    margin-top: -100px;
}

/* Checkbox input styling */
#showPassword {
    margin-right: -0px; /* Space between checkbox and label */
    width: 16px; /* Width of checkbox */
    height: 16px; /* Height of checkbox */
    cursor: pointer; /* Pointer cursor for checkbox */
    margin-top: 90px;
    
}

.forgot-password {
    text-align: center;
    margin-left: 55px;
    margin-top: -40px;
}



/* Hover effect for the checkbox label */
.form-group label[for="showPassword"]:hover {
    color: #f39c12; /* Change label color on hover for consistency */
}

/* Error Message Styling */






/* Required Asterisk Styling */
.required-asterisk {
    color: red; /* Red color for required asterisk */
}

.red-text {
    color: red; /* Red color class for various texts */
}

.disabled-button {
    pointer-events: none; /* Disable link interaction */
    color: grey; /* Grey color for disabled link */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    opacity: 0.5;
}

.disabled-link {
    pointer-events: none; /* Disable link interaction */
    color: grey; /* Grey color for disabled link */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    opacity: 0.5;
}

.form-switch {
    text-align: center;
    margin-left: 20px;
    color: white;
}

.forgot-reset-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* Optional: Adds space between form and buttons */
}



#resetButton {
    margin-right: -0px; /* Aligns the reset button to the left */
    padding: 10px 20px; /* Optional: Adjust padding for better appearance */
    background-color: blue; /* Optional: Background color for the reset button */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#resetButton:hover {
    background-color: #d32f2f; /* Change color on hover */
}

/* Footer Styling */
.footer {
    background-color:#3b1c08;
    color: #ffffff;
    text-align: center;
    padding: 10px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    
}

.footer-content a {
    color: #3498db;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
} 

.disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
    cursor: not-allowed;
}

/* #username_error {
    margin-top: 20px;
    margin-right: 50px;
} */
