* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../image/backgroundlogo.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    width: 100%;
    height: 130vh;
    /* animation: zoom 20s infinite alternate;  */
    

}                       


/* Navbar animation */
.navbar {
    background-color: #3b1c08;
    font-family: 'Calibri', sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    animation: slideDown 1s ease-out;
    /* border-bottom: 3px solid rgb(255, 230, 0); */
    animation: borderRubiks 3s infinite;
}

/* 
@keyframes borderRubiks {
    0% {
        border-color: #ff5733; 
        box-shadow: 0 0 20px #ff5733;
    }
    25% {
        border-color: #33ff57; 
        box-shadow: 0 0 20px #33ff57;
    }
    50% {
        border-color: #3357ff; 
        box-shadow: 0 0 20px #3357ff;
    }
    75% {
        border-color: #ff33a1;
        box-shadow: 0 0 20px #ff33a1;
    }
    100% {
        border-color: #ff5733; 
        box-shadow: 0 0 20px #ff5733;
    }
} */




/* @keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} */

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
    font-family: 'Georgia', serif;
    /* animation: bounceIn 1.5s ease-in-out; */
}

/* @keyframes bounceIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
} */

ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
    /* animation: fadeIn 1s ease-in; */
}
/* 
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} */

li {
    list-style: none;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    /* background-color: rgb(54, 102, 87); */
    transition: background-color 0.3s ease, color 0.3s ease;
}

li:hover {
    /* background-color: #006747ff; */
    color: white;
    animation: bounceHover 0.5s ease-out;
}
ul li a:hover{
    color: #ff7200;
}
/* @keyframes bounceHover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
} */

li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

button {
    background-color:  #3b1c08;
    margin-left: 10px;
    border-radius: 10px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

button:hover {
    animation: bounceHover 0.5s ease-out;
  
}
ul button a:hover{
    color: #ff7200;
}

h1 {
    /* color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Georgia', serif;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px; */
    animation: slideUp 1s ease-out;
}

/* @keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} */

.logo a {
    font-size: 25px;
    font-style: italic;
    color: white;
}


footer {
    animation: slideDown 1s ease-out;
    /* border-top: 3px solid rgb(255, 230, 0); */
    animation: footer 3s infinite;
    margin-right:0px;
    background-color: #3b1c08;
    
}
footer p{
    margin-right: 15rem;
    margin-left: 14rem;
}
footer p a {
    color: #3498db;
    text-decoration: none;
}



/* @keyframes footer {
    0% {
        border-color: #ff5733; 
        box-shadow: 0 0 20px #ff5733;
    }
    25% {
        border-color: #33ff57; 
        box-shadow: 0 0 20px #33ff57;
    }
    50% {
        border-color: #3357ff;
        box-shadow: 0 0 20px #3357ff;
    }
    75% {
        border-color: #ff33a1;
        box-shadow: 0 0 20px #ff33a1;
    }
    100% {
        border-color: #ff5733;
        box-shadow: 0 0 20px #ff5733;
    }
} */